
.swiper-container{
  width:100%;
  text-align: center;
  background: #000;
}

@media (min-width: 720px) {
  .swiper-container{
    width:100%;
  }

  .swiper-slide img {
    width:100%;
    max-width: 1600px;
  }
}

@media (max-width: 582px) {
  .swiper-container{
    height:calc(95vh - 180px); 
    display: flex;
    align-items: center;
  }
  .swiper-slide img {
    height: calc(95vh - 180px);
    object-fit: cover;
  }
}

/* @media (max-width: 482px) {
  .swiper-container{
    width:auto;
    height:calc(100vh - 180px); 
    background: #000;
    display: flex;
    align-items: center;
  }
  .swiper-slide img {
    height:calc(85vh - 180px);
    object-fit: cover;
  }
} */

/* @media (max-width: 420px) {
  .swiper-container{
    width:auto;
    height:calc(100vh - 180px); 
    background: #000;
    display: flex;
    align-items: center;
  }
  .swiper-slide img {
    height:calc(75vh - 180px);
    object-fit: cover;
  }
}  */

/* @media (max-width: 359px) {
  .swiper-container{
    width:auto;
    height:calc(100vh - 180px); 
    background: #000;
    display: flex;
    align-items: center;
  }
  .swiper-slide img {
    height:calc(65vh - 180px);
    object-fit: cover;
  }
}  */
